/*Main Styling*/
body{
	background: url(../img/bg.png)repeat #eee;
}

.site{

}

.site-container{
	box-shadow: 1px 0 3px rgba(0,0,0,0.1), -1px 0 3px rgba(0,0,0,0.1);
	position: relative;
}

/*************
*	SUB HEADER
*************/
.sub-header{
	background: #413030;
	color: rgba(255,255,255,0.7);
	padding: 5px 20px;
}

.sub-header div{
	float: left;
	margin: 0 10px;
}

.sub-header span{
	color: #fff;
}
/*************
*	HEADER
*************/
.header{
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	min-height: 160px;
	z-index: 100;
}

.header .logo{
	background: #fff;
	padding: 25px 20px;
	display: block;
	float: left;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.header .logo img{
	width: 90px;
	height: 110px;
}

.main-nav .nav{
	margin: 70px 0px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.main-nav .nav li {
	float: left;
}

.main-nav .nav li a {
	background: #fff;
	padding: 10px 20px;
	color: #999;
	border-right: solid 1px #ddd;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.main-nav .nav li:first-child a{
	border-radius: 3px 0 0 3px;
}

.main-nav .nav li:last-child a{
	border: none;
	border-radius: 0 3px 3px 0;
}

.main-nav .nav li a:hover, .main-nav .nav li .active{
	background: #604848;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	border-right-color: transparent;
	box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.3);

}

.small-nav{
	margin: 65px 20px;
}

/*************
*	CAROUSEL
*************/
.home-page-slider .item img{
	width: 100%;
}

.home-page-slider .item .carousel-caption{
	background: #fff;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding:10px;
	font-size: 20px;
	bottom: 15%;
}

.section-title{
	padding: 0 15px;
	margin-top: 0;
}

.section-sub{
	padding: 0 15px;
	margin: 15px 0;
}
/*************
*	INTRO
*************/
.intro{
	background: url(../img/triangle.svg)no-repeat center center;
	background-size: cover;
	padding: 30px;
	min-height: 100px;
}

.intro .about-text{
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 18px;
}

.intro .about-text h3{
	margin-top:0;
}


.intro .isi img{
	height: 140px;
}

.intro .contact-btn .btn{
	border: none;
}

/*************
*	MACHINES
*************/
.machines{
	background:#F0F0D8;
	padding: 30px;
}

.machines .machine{
	padding-bottom: 15px;
}

.machines .machine img{
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	padding: 5px;
	background: #fff;
}

.machines .machine img:hover{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}


/*************
*	PRODUCTS
*************/
.products{
	background: #494040;
	padding: 30px;
}

.products h3{
	color: rgba(0,0,0,0.8);
}

.products h4{
	color: rgba(255,255,255,0.5);
}

.products .product{
	padding-bottom: 15px;
}

.products .product img{
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	padding: 5px;
	background: #fff;
}

.products .product img:hover{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}

/*************
*	CONTACT
*************/
.contact{
	background: #fff;
	padding: 30px;
}

.contact .title{
	margin-top: 0;
}

.members .member{
	padding-bottom: 15px;
}

.members .member img{
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	padding: 5px;
	background: #fff;
}

.members .member img:hover{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

/***********
* TEAM PAGE
************/
.team-section{
	padding: 20px;
	background: #fafafa;
}

.team-section .team{
	padding-top: 20px !important;
}

.team-section .team-member{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	padding: 30px;
	text-align: center;
}

.team-section .team-member img{
	width: 300px;
	height: 300px;
}

/***********
*	FOOTER
************/
.footer{
	padding: 20px 40px;
	background: #789048;
	color: #fff;
}

.footer a{
	color: #fff;
}

.footer .links a{
	padding: 10px;
}

/***********
* Extras
************/
.success, .error{
	display: none;
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header{
		position: relative;
		background: #fff;
	}
	.logo{
		box-shadow: none !important;
	}
}